<a href="{% url 'didnotguess:index' %}">Back</a> <br />
{% if type == 'gen_random_number' %}
    <p>{{ result }}</p>
    <a href="{% url 'didnotguess:execution' %}">Generate number</a>
{% else %}
    {% if type == 'gen_random_number_list' %}
        {% if result %}
        <ul>
        {% for num in result %}
        <li>{{ num }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    <form action="{% url 'didnotguess:execution' %}" method="post">
    {% csrf_token %}
    <p>Range</p>
    <input type="number" name="from" id="from" />
    <label for="from">From</label><br />
    <input type="number" name="to" id="to" />
    <label for="to">To</label><br />
    <input type="submit" value="Generate number list in range" /><br />
    </form>
    {% else %}
        {% if type == 'get_random_word_from_text' %}
            <form action="{% url 'didnotguess:execution' %}" method="post">
                {% csrf_token %}
                <label for="text">Text</label>
                <input type="text" name="text" id="text" /><br />
                <input type="submit" value="Get random word" /><br />
            </form>
            {% if result %}
                <p>{{ result }}</p>
            {% endif %}
        {% else %}
            {% if type == 'gen_random_password' %}
                {% if result %}
                    <p>{{ result }}</p>
                {% endif %}
                <a href="{% url 'didnotguess:execution' %}">Generate password</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}