{% extends 'base.html' %} 

{% block title %}Did not quess{% endblock %} 

{% block content %}


{#faceboock sdk script (A.G. 05.06.2017)#}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '928983360574963',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<h1 class="text-center">Hello, {{ user.username }}!</h1>

<div class="col-xs-12 col-sm-6">
  <h2 class="text-center">
    Actions:
  </h2>
    <p class="text-center">
      <a class="btn btn-block btn-default" href="{% url 'didnotguess:gen_random_number' %}">Generate random number</a>
      </p>
      <p class="text-center">
      <a class="btn btn-block btn-default" href="{% url 'didnotguess:gen_number_list' %}">Generate number list in range</a>
      </p>
      <p class="text-center">
      <a class="btn btn-block btn-default" href="{% url 'didnotguess:get_random_word_from_text' %}">Get random word from text</a>
      </p> 
      <p class="text-center">
      <a class="btn btn-block btn-default" href="{% url 'didnotguess:gen_random_password' %}">Generate random password</a>
      </p>
      <p class="text-center">
      <a class="btn btn-block btn-default" href="{% url 'didnotguess:gen_random_password_list' %}">Generate random password list</a>
    </p>  
</div>
<div class="col-xs-12 col-sm-6">
  <h2 class="text-center">
    You are also able to:
  </h2>
  <p class="text-center">
    <a class="btn btn-block btn-primary" href="{% url 'didnotguess:requests_all' %}">Requests history</a>
  </p>
  <p class="text-center">
    <a class="btn btn-block btn-default" href="{% url 'didnotguess:statistics' %}">View statistics</a>
  </p>
</div>
<div class="col-xs-12">
  <h3 class="text-center">Random action from history:</h3>
  <p class="text-center">
    {% if rand_request %}
    {{ rand_request }}
    {% endif %}
  </p>
</div>
<div class="col-xs-12">
  <h4 class="text-center">Enough?</h4>
  <p class="text-center">
    <a class="btn btn-danger" href="{% url 'didnotguess:logout' %}">Log out</a>
  </p>
</div>


{% endblock %}