
{#faceboock sdk script (A.G. 05.06.2017)#}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '928983360574963',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<h1>Hello, {{ user.username }}!</h1>

<a href="{% url 'didnotguess:gen_random_number' %}">Generate random number</a><br />
<a href="{% url 'didnotguess:gen_random_number_list' %}">Generate random number list</a><br />
<a href="{% url 'didnotguess:get_random_word_from_text' %}">Get random word from text</a><br />
<a href="{% url 'didnotguess:gen_random_password' %}">Generate random password</a><br />
<a href="{% url 'didnotguess:gen_random_password_list' %}">Generate random password list</a><br />

<a href="{% url 'didnotguess:logout' %}">Log out</a>