{% extends 'base.html' %} 

{% block title %}Login{% endblock %} 

{% block content %}
<div class="well auth-block col-xs-12 col-sm-8 col-sm-offset-2">
	<h2 class="text-center">
		{{ message }}
	</h2>
	<form action="{% url 'didnotguess:loginuser' %}" method="post">
	    {% csrf_token %}
	    <div class="form-group">
	    	<label for="name">Username</label>
		    <input type="text" class="form-control" name="username" id="name" />
	    </div>
	    <div class="form-group">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" name="userpassword" id="password" />
	    </div>
	    <p class="text-center">
	    	<input type="submit" class="btn btn-success" value="Log in" />
			<a href="{% url 'didnotguess:registration' %}" class="btn btn-primary">Registration</a>
	    </p>
	</form>
	<hr>
	<p class="text-center">
		<a href="{% url 'social:begin' 'github' %}" class="social-icon github"></a>
		<a href="{% url 'social:begin' 'google-oauth2' %}" class="social-icon google"></a>
		<a href="{% url 'social:begin' 'facebook' %}" class="social-icon facebook"></a>
	</p>
</div>
{% endblock %}