{% extends 'base.html' %} 

{% block title %}Requests{% endblock %} 

{% block content %}
<link href="../../static/css/styles.css" rel="stylesheet" type="text/css" />

<div><a href="{% url 'didnotguess:index' %}" class="btn btn-danger" >Back</a>
{% if not requests %}
    <p>No requests
    {% if all %}
        registered for all users
    {% else %}
        registered for you
    {% endif %}
    </p>
{% else %}
    <p>
    {% if all %}
        <div class="three"><h1>All users'
    {% else %}
        <div class="three"><h1>Only your's
    {% endif %}
    requests</h1></div>
    </p></div>
<div>
    <table class="tablerequest">
        <tr><td><strong>Name</strong></td><td><strong>Request type</strong></td><td><strong>Date</strong></td></tr>
        {% for req in requests %}
        <tr><td>{{ req.user.username }}</td><td>{{ req.type.typename }}</td><td>{{ req.request_date }}</td></tr>
        {% endfor %}
    </table>
    </div>
{% endif %}
{% if all %}
<p class="text-center"> 
<a class="btn btn-default" href="{% url 'didnotguess:requests_current' %}">Only mine requests</a></p>
{% else %}
<p class="text-center">
    <a href="{% url 'didnotguess:requests_all' %}" class="btn btn-default">All requests</a></p>
{% endif %}
{% endblock %}